* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.users-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    gap: 30px;
    margin: 50px auto 50px auto;
}

.user-block {
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px 20px;
}