*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: cornflowerblue;
}

.app-container {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    /*height: 45%;*/
    background-color: lightgray;
    border-radius: 10px;
    padding: 50px 20px;
    grid-template-columns: 70% 30%;
    grid-template-areas: "inputs buttons";
}

.app-container h1 {
    position: absolute;
    top: 20px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    grid-area: inputs;
}

.inputs-container h1 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.inputs-container label {
    height: 14px;
    margin-bottom: 3px;
}

.inputs-container input {
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    font-size: 20px;
}

.inputs-container textarea {
    height: 500px;
    resize: none;
    outline: none;
}

.buttons-container {
    grid-area: buttons;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.buttons-container input[type=button] {
    font-size: 1.1rem;
    height: 40px;
    padding: 5px 10px;
    margin-left: 15px;
}

.buttons-container input[type=button]:first-of-type {
    margin-top: 17px;
}

.buttons-container input[type=button]:nth-of-type(2) {
    margin-top: 17px;
}
